<!DOCTYPE html>
<html>
	<head>
	<title>Spring Boot</title>
		<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/GouthamGuna/Portfolio-.com/main/assets/img/icon.jpg">
	</head>
	<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="https://start.spring.io/">Spring Boot App</a>
	
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="https://gouthamguna.github.io/Portfolio-.com/">Web Upload</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login">Log out</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Upload New Data </h1>
				<div class = "card-body">
					<div class ="form-group">
						<form action="" method="post" enctype="multipart/form-data">
								<div class ="form-group">
									<label>Name<font color="red">*</font></label>
									<input type="text" class = "form-control" name="uname" placeholder="User Name" required="required">
								</div>
								<div class ="form-group">
									<label>Motive<font color="red">*</font></label>
									<input type="text" class = "form-control" name="key" placeholder="PurPose" required="required">
								</div>
								<div class ="form-group">
									<label>Now Date & Time<font color="red">*</font></label>
									<input type="datetime-local" class = "form-control" name="datatime" placeholder="Birthdaytime" required="required">
								</div>
								<div class ="form-group">
									<label>Select File<font color="red">*</font></label>
									<input type="file" class = "form-control" name="file" placeholder="Select File" required="required">
								</div>
								<div class ="form-group">
									<input type="submit" value="Upload File">
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>